body{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(144, 137, 137));
    background-color: #cccccc;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}